<web-app>
    <listener>
	<listener-class>MyDBListener</listener-class>
    </listener>
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@//ROSHANPRO:1521/xe</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>spring</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>spring</param-value>
    </context-param>
    <servlet>
        <servlet-class>LoginServlet3</servlet-class>
        <servlet-name>LoginServlet3</servlet-name>
	    <init-param>
		    <param-name>query</param-name>
		    <param-value>select username from users where userid=? and password=?</param-value>
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet3</servlet-name>
        <url-pattern>/LoginServlet3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>RegistrationServlet3</servlet-class>
        <servlet-name>RegistrationServlet3</servlet-name>
	    <init-param>
		    <param-name>query</param-name>
		    <param-value>insert into users values(?,?,?)</param-value>
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet3</servlet-name>
        <url-pattern>/RegistrationServlet3</url-pattern>
    </servlet-mapping>

</web-app>