<web-app>
    <servlet>
        <servlet-class>AddNosServlet</servlet-class>
        <servlet-name>AddNosServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNosServlet</servlet-name>
        <url-pattern>/AddNosServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>DisplayResultServlet</servlet-class>
        <servlet-name>DisplayResultServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayResultServlet</servlet-name>
        <url-pattern>/DisplayResultServlet</url-pattern>
    </servlet-mapping>

</web-app>