<web-app>
    <servlet>
        <servlet-class>MyInitParamServlet</servlet-class>
        <servlet-name>MyInitParamServlet</servlet-name>
        <init-param>
            <param-name>name</param-name>
            <param-value>Roshan Acharay</param-value>
        </init-param>
        <init-param>
            <param-name>email</param-name>
            <param-value>rosanacharya2060@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyInitParamServlet</servlet-name>
        <url-pattern>/MyInitParamServlet</url-pattern>
    </servlet-mapping>
</web-app>