<web-app>
    <servlet>
        <servlet-class>DisplayClientInfoServlet</servlet-class>
        <servlet-name>DisplayClientInfoServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayClientInfoServlet</servlet-name>
        <url-pattern>/DisplayClientInfoServlet</url-pattern>
    </servlet-mapping>
</web-app>