<web-app>
    <context-param>
        <param-name>driverclass</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@//ROSHANPRO:1521/xe</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>spring</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>spring</param-value>
    </context-param>
    <servlet>
        <servlet-class>LoginServlet2</servlet-class>
        <servlet-name>LoginServlet2</servlet-name>
	    <init-param>
		    <param-name>query</param-name>
		    <param-value>select username from users where userid=? and password=?</param-value>
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet2</servlet-name>
        <url-pattern>/LoginServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>RegistrationServlet2</servlet-class>
        <servlet-name>RegistrationServlet2</servlet-name>
	    <init-param>
		    <param-name>query</param-name>
		    <param-value>insert into users values(?,?,?)</param-value>
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet2</servlet-name>
        <url-pattern>/RegistrationServlet2</url-pattern>
    </servlet-mapping>

</web-app>