<web-app>
    <servlet>
        <servlet-class>MyRedirectionServlet</servlet-class>
        <servlet-name>MyRedirectionServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyRedirectionServlet</servlet-name>
        <url-pattern>/MyRedirectionServlet</url-pattern>
    </servlet-mapping>
</web-app>